<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body style="text-align:center">
    <a href="/logout">Logout</a>
    <h1>Welcome to Finstagram, {{names.firstName}} {{names.lastName}}!</h1>
    <br>
    <a href="/photos">View Photos</a>
    <br>
    <a href="/post">Post Photos</a>
    <br>
    <a href="/follow">Follow Users</a>
    <br>
    <a href="/requests">Follow Requests</a>
    <br>
    <a href="/friendGroups">Add Friend Groups</a>
    <br>
  </body>
</html>
