<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body style="text-align:center">
    <h1>Login to Finstagram!</h1>
    {% if error %}
    {{error}}
    {% endif %}
    <br>
    <form action="/loginAuth" method="POST">
    	<input type="text" name = "username" placeholder="username" required/> <br>
      <br>
    	<input type="password" name = "password" placeholder="password" required/><br>
      <br>
      <input type="submit" value = Login />

    </form>
    <br>
    <a href="/">Go back</a>

  </body>
</html>
